.menuForm{
    &__btn{
        margin-top: 10px;
        font-size: 20px;
        width: 150px;
        padding: 0 10px;
        height: 40px;
        background-color: #c6c6c6;
        border-radius: 16px;
        &:hover{
            background-color: #78BCFF;
            transition: 0.4s;
        }
    }
    &__btn-end{
        position: absolute;
        top: 50vh;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 40vw;
        min-height: 15vh;
        background-color: #383833;
        border-radius: 16px;
        color: crimson;
        font-weight: 800;
        font-size: 40px;
        line-height: 14vh;
    }
    &__title{
        margin-bottom: 7px;
        font-size: 20px;
    }
    &__input{
        cursor: pointer;
    }
}
